<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <div>
            @using (Html.BeginForm("AtualizarEstadoRes", "MenuFuncionario", new {idEncomenda = @ViewBag.idEncomenda}, FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <input type="text" name="custoInput" id="custoInput" required />
                </fieldset>
                <input type="submit" value="Seguinte" />
            }
        </div>
    </body>
</html>