<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        @using (Html.BeginForm("RequisitarEncomenda", "Encomenda", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                Fornecedor: <input type="text" name="fornecedor" id="fornecedor" required />
                <br>
                Morada da Entrega: <input type="text" name="morada" id="morada" required />
                <br>
                Dia: <input type="text" name="dia" id="dia" required />
                <br>
                Hora: <input type="text" name="hora" id="hora" required />
            </fieldset>
            <input type="submit" value="OK" />
        }
    </body>
</html>