<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <p1>Insira o código da sua encomenda:</p1>
        <div>
            @using (Html.BeginForm("checkEncomenda","MenuCliente", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <input type="number" name="idEncomenda" id="idEncomenda" required />
                </fieldset>
                <button type="button" onclick="location.href='@Url.Action("CancelarAvaliar","MenuCliente")'">Cancelar</button>
                <input type="submit" value="Continuar"/>
            }
        </div>
    </body>
</html>