<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @ViewBag.Msg
        <button type="button" onclick="location.href='@Url.Action("Index","MenuCliente")'">OK</button>"
    </body>
</html>