<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <ol>
            <li>@Html.ActionLink((String)@ViewBag.ListElem1, (String)@ViewBag.ListElem1, (String)@ViewBag.To)</li>
            <li>@Html.ActionLink((String)@ViewBag.ListElem2, (String)@ViewBag.ListElem2, (String)@ViewBag.To)</li>
        </ol> 
    </body>
</html>