<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
       <div>
           <h1>@ViewBag.Title</h1>
            @using (Html.BeginForm("RealizarLogin", "MenuPrincipal", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    Nome: <input type="text" name="email" id="email" required />
                    <br>
                    Password: <input type="text" name="password" id="password" required />
                </fieldset>
                <input type="submit" value="Ok" />
            }
        </div> 
    </body>
</html>