<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @ViewBag.Msg
        @Html.ActionLink("Voltar", "Login", "MenuPrincipal")
    </body>
</html>