<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @ViewBag.Msg<br>
        <button type="button" onclick="location.href='@Url.Action("Index","MenuPrincipal")'">Voltar</button>
    </body>
</html>